body {
    font-family: arial,sans-serif;
}

#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e4b512;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#content {
    width: 780px;
    background-color: #FFFFFF;
    text-align:center;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    padding-top:10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#topbar {
    clear: both;
    padding-top: 4px;
}

#navbar {
    float: left;
    width:370px;
    padding-left: 10px;
}

#navbar button {
    background-color: #e4b512;
}

#logo {
    float:right;
    padding-right: 10px;
    padding-bottom: 3px;
}

button[disabled] {
    opacity:.5;
}

#legend {
    width: 580px;
    background-color: #EEEEEE;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    padding-top:10px;
}

#legend-table {
    margin-left: auto;
    margin-right: auto;
    padding-top:10px;
    padding-bottom:10px;
}

/* als screeen */
#funder {
    font-style: italic;
    font-family: arial,sans-serif;
    font-size: 9pt;
    margin-top: 30px;
}

.language-button {
    width: 300px;
    font-weight: bold;
    font-size: larger;
}

/* legend screen */
#welcome {
    font-size: 24pt;
    padding-bottom: 20px;
}
#tls-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-right:50px;
}

.language-column {
    text-align: right;
}
.language-skill-column {
    text-align: center;
}

#word-tabs {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.vspt-table  {
    width: 100%;
}

.vspt-table td {
    width: 33%;
}

.ui-state-active {
    background-color: #000000;
    color: #ffffff;
}

.vspt-table input {
    display: none;
}
