<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="{{al}}">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="google" value="notranslate">
        <link rel="stylesheet" type="text/css" href="/css/dialang.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="/css/smoothness/jquery-ui-1.9.2.custom.min.css" media="all"/>
        <script type="text/javascript" src="/lib/jquery-1.8.3.js"></script>
        <script type="text/javascript" src="/lib/jquery-ui-1.9.2.custom.min.js"></script>
        <script type="text/javascript" src="/lib/jquery.form.js"></script>
        <script type="text/javascript" src="/lib/mustache.js"></script>
        <script type="text/javascript">
            var dialang = {
              state: '{{state}}',
              flags: {
                instantFeedbackDisabled: {{instantFeedbackDisabled}}{{^instantFeedbackDisabled}}false{{/instantFeedbackDisabled}},
                hideALS: {{hideALS}}{{^hideALS}}false{{/hideALS}},
                hideTLS: {{hideTLS}}{{^hideTLS}}false{{/hideTLS}}
              },
              session: {
                  'al': '{{al}}',
                  'tl': '{{tl}}',
                  'skill': '{{skill}}',
                  'vsptDone': {}
              },
              pass: {
                  'baskets':[],
                  'itemToBasketMap':{},
                  'items':[],
                  'subskills':{}
              }
            };
        </script>
    </head>
    <body>
        <div id="container">
            <div id="topbar">
                <div id="navbar">
                    <button id="skipback"><img src="/images/skipb.gif"/></button>
                    <button id="back"><img src="/images/prev.gif"/></button>
                    <button id="next"><img src="/images/next.gif"/></button>
                    <button id="skipforward"><img src="/images/skipf.gif"/></button>
                    <button id="help"><img src="/images/help.gif" height="23px;"/></button>
                    <button id="instantfeedback"><img src="/images/instantFeedbackOff.gif" height="23px;"/></button>
                </div>  <!-- /navbar -->
                <div id="logo">
                    <div id="progressbar" class="dialang-progressbar"><div id="progressbar-label"></div></div>
                    <img src="/images/Logo.gif"/>
                </div> <!-- /logo -->
            </div> <!-- /topbar -->

            <div id="help-dialog">
            </div> <!-- /help-dialog -->

            <div id="content">
            </div> <!-- /content -->
            <div class="bottom-margin"></div>
        </div> <!-- /container -->
        <script type="text/javascript" src="/js/dialang.js"></script>
    </body>
</html>
