<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="{{al}}">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="google" value="notranslate">
        <link rel="stylesheet" type="text/css" href="/dialang-content/css/dialang.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="/dialang-content/css/smoothness/jquery-ui-1.9.2.custom.min.css" media="all"/>
        <script type="text/javascript" src="/dialang-content/js/jquery-1.8.3.js"></script>
        <script type="text/javascript" src="/dialang-content/js/jquery-ui-1.9.2.custom.min.js"></script>
        <script type="text/javascript" src="/dialang-content/js/jquery.form.js"></script>
        <script type="text/javascript" src="/dialang-content/js/mustache.js"></script>
        <script type="text/javascript">
            var dialang = {
                'state': '{{state}}',
                'instantFeedbackDisabled': {{instantFeedbackDisabled}},
                'session': {
                    'al': '{{al}}',
                    'tl': '{{tl}}',
                    'skill': '{{skill}}'},
                'pass': {
                    'baskets':[],
                    'itemToBasketMap':{},
                    'items':[],
                    'subskills':{}}
            };
        </script>
    </head>
    <body>
        <div id="container">
            <div id="topbar">
                <div id="navbar">
                    <button id="skipback"><img src="/dialang-content/images/skipb.gif"/></button>
                    <button id="back"><img src="/dialang-content/images/prev.gif"/></button>
                    <button id="next"><img src="/dialang-content/images/next.gif"/></button>
                    <button id="skipforward"><img src="/dialang-content/images/skipf.gif"/></button>
                    <button id="help"><img src="/dialang-content/images/help.gif" height="23px;"/></button>
                    <button id="instantfeedback"><img src="/dialang-content/images/instantFeedbackOff.gif" height="23px;"/></button>
                </div>  <!-- /navbar -->
                <div id="logo">
                    <div id="progressbar" class="dialang-progressbar"><div id="progressbar-label"></div></div>
                    <img src="/dialang-content/images/Logo.gif"/>
                </div> <!-- /logo -->
            </div> <!-- /topbar -->

            <div id="help-dialog">
            </div> <!-- /help-dialog -->

            <div id="content">
            </div> <!-- /content -->
            <div class="bottom-margin"></div>
        </div> <!-- /container -->
        <script type="text/javascript" src="/dialang-content/js/dialang.js"></script>
    </body>
</html>
