<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
"http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>

    <distributable />

    <resource-ref>
        <description>Connection Pool</description>
        <res-ref-name>jdbc/dialang</res-ref-name>
        <res-type>javax.sql.Datasource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <resource-ref>
        <description>Connection Pool</description>
        <res-ref-name>jdbc/dialangdatacapture</res-ref-name>
        <res-type>javax.sql.Datasource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <servlet>
        <servlet-name>cache-loader</servlet-name>
        <servlet-class>org.dialang.web.servlets.CacheLoader</servlet-class>
        <load-on-startup>1</load-on-startup>
      </servlet>

    <servlet>
        <servlet-name>LTILaunch</servlet-name>
        <servlet-class>org.dialang.web.servlets.LTILaunch</servlet-class>
        <init-param>
          <param-name>launchUrl</param-name>
          <param-value>@lti.launch.url@</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>LTILaunch</servlet-name>
        <url-pattern>/lti/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.scalatra.servlet.ScalatraListener</listener-class>
    </listener>

    <!-- 3 hour session timeout -->
    <session-config>
        <session-timeout>180</session-timeout>
    </session-config>

</web-app>
